{% extends "boilerplate.html" %}
{% block meta_links %}
  <link rel="stylesheet" href="../static/css/play-container.css" type="text/css" />
  <script src="../static/js/jquery-linedtextarea.js" type="text/javascript"></script>
  <script src="../static/js/playground.js" type="text/javascript"></script>
  <script src="../static/js/play-container.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}
{% block content %}
<div id="playground" class="play-container">
  <div class="play-controls">
    <div class="play-buttons">
      <a class="run" title="run code">Run</a>
      <a class="fmt" title="format">Format</a>
      <!-- share -->
    </div>
    <div class="play-language">
      <select name="play-lang-selection" id="play-lang-select" onchange="">
        <option value="go">go</option>
        <option value="rust">rust</option>
        <option value="c+">c/c++</option>
        <option value="py">python</option>
      </select>
      <!-- play-lang-compiler -->
    </div>
  </div>
  <div class="play-input">
    <textarea class="play-code-area" itemprop="description" name="code" autocorrect="off" autocomplete="off" autocapitalize="off" spellcheck="false"> 
    </textarea>
  </div>
  <div class="play-output"></div>
</div>
{% endblock %}
