{% extends "boilerplate.html" %}
{% block meta_links %}
<link rel="stylesheet" href="../static/css/saviour.css" type="text/css" media="screen" title="no title" charset="utf-8">
<script src="../static/js/bower_components/react/react-with-addons.js" type="text/javascript"></script>
<script src="../static/js/bower_components/react/JSXTransformer.js" type="text/javascript"></script>
<script src="../static/js/react-tab-widget.js" type="text/jsx"></script>
<script src="../static/js/tree-ui.js" type="text/jsx"></script>
<script src="../static/js/saviour.js" type="text/jsx"></script>
{% endblock %}

{% block content %}
<div id="saviour-container">
</div>
{% endblock %}
