// Grays
// -------------------------
$black:                 #000;
$grayDarker:            #222;
$grayDark:              #333;
$gray:                  #555;
$grayLight:             #999;
$grayLighter:           #eee;
$white:                 #fff;


// Accent colors
// -------------------------
$blue:                  #049cdb;
$blueDark:              #0064cd;
$green:                 #46a546;
$red:                   #9d261d;
$yellow:                #ffc40d;
$orange:                #f89406;
$pink:                  #c3325f;
$purple:                #7a43b6;


// Solarized color scheme from https://github.com/altercation/solarized
// NOTE: This overrides some of Bootstrap's default colors
// ------------------------
$base03:                #002b36;
$base02:                #073642;
$base01:                #586e75;
$base00:                #657b83;
$base0:                 #839496;
$base1:                 #93a1a1;
$base2:                 #eee8d5;
$base3:                 #fdf6e3;

// Convenient, more memorable aliases
$bg-light-1:            $base3;
$bg-light-2:            $base2;
$bg-dark-1:             $base02;
$bg-dark-2:             $base03;
$content-1:             $base1;
$content-2:             $base0;
$content-3:             $base00;
$content-4:             $base01;

$yellow:                #b58900;
$orange:                #cb4b16;
$red:                   #dc322f;
$magenta:               #d33682;
$violet:                #6c71c4;
$blue:                  #268bd2;
$cyan:                  #2aa198;
$green:                 #859900;

// Links
// -------------------------
$linkColor:             $blue;
$linkColorHover:        darken($linkColor, 15%);
