{
  "extends": "airbnb",
  "globals": {
    "__DEV__"      : false,
    "__PROD__"     : false
  },  
  "rules": {
    "comma-dangle": [1, "never"],
    "key-spacing": [0, {
      "beforeColon": true,
      "afterColon": true
    }], 
    "no-else-return": 0,
    "space-before-function-paren": [0, "always"],
    "id-length":[0],
    //"jsx-quotes": [2, "prefer-double"],
    "react/jsx-quotes": [0, "single"]
  }
}
